.app {
  font-family: "Cormorant Infant", serif;
  color: #5f5f5f;
  background-size: 100% auto;
  background-position: center 10%;
  background-repeat: no-repeat;
  background-color: white;
  max-width: 100%;
  min-height: 100vh;
  font-weight: 400;
}

.page-container {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 45px;
  user-select: none;
}

a {
  color: #5f5f5f;
  text-decoration: none;
  transition: text-shadow 0.15s ease, color 0.15s ease;
  display: inline-block;
}

a:hover {
  cursor: pointer !important;
  color: #e88faa;
  text-shadow: 0 0 0.4px #e88faa, 0 0 0.4px #e88faa;
}

button {
  display: block;
  margin-top: 30px;
  border-radius: 4px;
  border: 1px solid #5f5f5f;
  background-color: transparent;
}

.attendance-button {
  padding: 0px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  color: #5f5f5f;
}

.attendance-button.attending {
  background-color: #ddecde;
  color: rgba(16, 16, 16, 0.699);
}

.attendance-button.not-attending {
  background-color: #f8eaea;
  color: rgba(16, 16, 16, 0.699);
}

.attendance-button.default {
  background-color: #f4f4f4;
}

/* Only apply pink hover to default (unselected) buttons
.attendance-button.default:hover {
  background-color: white;
} */

.button-link {
  color: #5f5f5f;
}

.button-link:hover {
  cursor: pointer !important;
  color: #e88faa;
}

input {
  border: transparent;
  border-bottom: #5f5f5f solid 0.9px;
  border-radius: 2px;
  color: #5f5f5f;
  font-weight: 500px;
}

input::placeholder {
  color: #979797;
  opacity: 1;
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
}

input[type="radio"]:hover {
  accent-color: #f099b2 !important; /* Accent color on hover */
}

input[type="checkbox"]:hover {
  accent-color: #f099b2 !important; /* Accent color on hover */
}

.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  /* your other styles */
}

.dropdown:hover {
  color: #e88faa;
}

.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
}

.navBarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px 20px;
  margin: 0px;
  text-align: center;
  margin-bottom: 15px;
}

.footerContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
  margin-top: 60px;
}

.footerText {
  display: flex;
  position: relative;
}

.navBarContainer > div:last-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  gap: 20px 40px;
  margin-top: 15px;
}

.navOptions {
  padding: 0 15px;
  font-size: 18px;
  user-select: none;
  white-space: nowrap;
}

.section-container {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 40px;
}

.section-inner {
  display: flex;
  width: 920px;
  align-items: flex-start;
}

.section-image {
  width: 500px;
  height: 333.28px;
  border-radius: 4px;
  object-fit: cover;
}

.section-image.directions {
  height: 100%;
}

.section-content {
  margin-left: 95px;
}

.section-content img {
  height: 35px;
  margin-bottom: 7px;
}

.section-title {
  font-family: "EB Garamond", serif;
  font-size: 25px;
}

.section-subtitle {
  font-size: 19px;
  margin-top: -16px;
}

.section-time {
  font-size: 20px;
  font-weight: 550;
  margin-top: -5px;
}

.section-detail {
  font-size: 20px;
  margin-top: -17px;
}

.section-paragraph {
  font-size: 20px;
  margin-top: 0;
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}

.tooltip-text {
  visibility: hidden;
  width: max-content;
  background-color: transparent;
  color: #e88faa;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 6px 8px;
  position: absolute;
  z-index: 20;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
  user-select: none;
}

.tooltip-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  user-select: none;
}

.masonry-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.my-masonry-grid {
  display: flex;
  margin-left: 0px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 16px;
  background-clip: padding-box;
}

.tile-img {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navBottomBorder {
  display: none;
}

.inspo-header {
  text-align: left;
  cursor: pointer;
  border-bottom: 1px solid rgb(171, 170, 170);
  padding-bottom: 8px;
  margin-bottom: 24px;
}

.responsive-align {
  text-align: left;
}

.faqList {
  max-width: 1000px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  margin-bottom: 0;
}

.eventName {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 500;
  display: inline-block;
}

.homePhoto {
  height: 220px;
  width: auto;
}

.headerText {
  color: #e88faa;
  font-family: "Cedarville Cursive", cursive;
  font-size: 45px;
  user-select: none;
}

.dottedBorder {
  border-bottom: thin dotted #5f5f5fe2;
  margin-bottom: 40px;
}

.attire-container {
  max-width: 975px;
  margin: 0 auto;
  padding: 0px 20px;
}

.travelContainer {
  max-width: 990px;
  width: 100%;
}

.hotelCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0;
  margin-top: -25px;
  margin-bottom: -10px;
}

.button-link.honeymoon {
  font-size: 25px;
  margin: 0;
  padding: 10px;
  font-weight: 550;
}

.button-link.honeymoon:hover {
  color: #e88faa;
}

.love-story-title {
  font-family: "Cedarville cursive";
  font-size: 35px;
}

.section-content.love-story {
  margin-left: 0;
  max-width: 400px;
  flex: 1 1 300px;
  text-align: left;
}

.swan-home {
  height: 65px;
  margin-bottom: 25px;
  margin-top: 21px;
}

.guest-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.guestCard {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.select-meal-button {
  font-size: 19px;
  padding: 5px 9px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #eee;
  color: #888;
  cursor: not-allowed;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
  font-weight: 600;
}

.completeRSVPButton {
  font-size: 19px;
  padding: 5px 9px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #fbfbfb;
  color: #5f5f5f;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
  font-weight: 600;
}

.completeRSVPButton:hover {
  color: #e88faa;
}

.select-meal-button.enabled {
  background-color: #fbfbfb;
  color: #5f5f5f;
  cursor: pointer;
}

.select-meal-button.enabled:hover {
  color: #e88faa;
}

.backButton {
  font-size: 19px;
  padding: 5px 9px;
  border-radius: 3px;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
  font-weight: 600;
  background-color: #fbfbfb;
  color: #5f5f5f;
  cursor: pointer;
}

.backButton:hover {
  color: #e88faa;
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip-wrapper .select-meal-button[disabled]::after {
  content: "Please respond for every guest to continue.";
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 8px;
  white-space: nowrap;
  font-size: 15.6px;
  z-index: 10;
  color: #5f5f5f;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  pointer-events: none;
}

.tooltip-wrapper .select-meal-button[disabled]:hover::after {
  opacity: 1;
  visibility: visible;
}

.mealPreferencesButtonContainer {
  justify-self: right;
  margin-top: 30px;
  margin-bottom: 120px;
}

@media (max-width: 990px) {
  .responsive-align {
    text-align: center;
  }
  .faqList {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
  }
  .travelContainer {
    padding: 0 35px;
  }
  .hotelCards {
    justify-content: center;
    gap: 20px;
  }
  .swans-monogram {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .attire-container {
    margin: 0 35px;
  }

  a:hover {
    text-shadow: none;
  }

  .homePhoto {
    height: 130px;
    width: auto;
    margin-top: -15px;
  }

  .swan-home {
    height: 55px;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  button {
    width: 78vw;
  }

  .button-link.honeymoon {
    font-size: 21.2px;
  }

  .travelContainer {
    padding: 0 35px;
  }

  .dottedBorder {
    display: none;
  }

  .headerText {
    font-size: 38px;
  }

  .header {
    margin-bottom: -2px;
  }

  .navOptions {
    font-size: 17px;
    padding: 4px 12px;
  }

  .navOptionsContainer {
    display: flex;
    margin-top: -10px;
  }

  .navBottomBorder {
    width: 100%;
    display: inline-block;
    padding-bottom: 15px;
    border-bottom: 0.6px solid #7b4046;
  }

  .navBarContainer {
    margin-bottom: 0px;
  }

  .navBarContainer > div:last-child {
    gap: 15px 20px;
  }

  .section-inner {
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
  }

  .section-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
    margin: 10px 0px;
  }

  .section-content {
    margin: 20px 0 0 0;
    width: 100%;
    text-align: center;
    padding: 0 10px;
  }

  .section-content.love-story {
    margin-top: -70px;
    text-align: center;
    padding: 0;
  }

  .section-inner.love-story {
    padding: 0;
  }

  .section-content img {
    margin: 0 auto 10px;
    display: block;
  }

  .section-title,
  .section-subtitle,
  .section-time,
  .section-detail,
  .section-paragraph {
    text-align: center;
  }

  .page-container {
    margin: 35px;
  }

  .page-container.rsvp {
    margin: 10px 35px;
    max-width: none;
  }

  .guestCard {
    width: 320px;
  }

  .guestCard.mealPreferences {
    width: 351px;
  }

  .guest-grid {
    justify-items: center;
    gap: 30px;
  }

  .select-meal-button {
    justify-self: center;
    width: 100%;
    margin-top: 10px;
  }

  .completeRSVPButton {
    justify-self: center;
    width: 100%;
    margin-top: 10px;
  }

  .backButton {
    width: 100%;
    margin-top: 10px;
  }

  .mealPreferencesButtonContainer {
    justify-self: center;
    text-align: center;
  }

  .tooltip-wrapper .select-meal-button[disabled]::after {
    left: 50%;
    right: unset;
    transform: translateX(-50%);
    margin-top: 15px;
  }
}

.eventName {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
  width: 100%;
}

.desktop-only {
  text-align: left;
  font-size: 25px;
}
.mobile-only {
  display: none;
  width: 100%;
  text-align: center;
}

@media (max-width: 767px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .guest-grid {
    grid-template-columns: 1fr 1fr !important;
  }
}
